
<head>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>

<!-- #<div> Hello </div>
 -->

<body>
<div class="search-container">
<p>Which film would you like to search for?</p>

<form action="/search" method="get">
	<input type="search" name="q"
	placeholder="Enter movie">
	<button>Action!</button>
</form>
</div>
</body>