<html>
<head>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<head>
		<title>Movie Magic</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="fade">
<h1>Movie Magic</h1>
<h2>Movie magic at your fingertips</h2>
</div>
<%= yield %>
</body>

</html>