	

<head>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

	<ul>

	<% @movies.each do |movie| %>
		<li>
		<a href= "/movie/<%= (movie["imdbID"]) %>"> <%= movie["Title"] %></a>
		</li>
	<% end %>

	</ul>

